body,
html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif,
    'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: #fff;
  color: #666;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
p {
  margin: 0;
}
